.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 0 90px;
    row-gap: 72px;
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 64px 0 66px;
    row-gap: 50px;
    width: 100%;
  }
}
