.header__logo {
  background: url('../../..//images/logo.svg');
  width: 176px;
  height: 52px;
  flex-shrink: 0;
}

@media screen and (max-width: 350px) {
  .header__logo {
    background: url('../../../images/logo-320.svg');
    width: 142px;
    height: 42px;
  }
}
